:root {
  --primary-color: #ffb548;
}

/* navbar */
.navbar {
  background: rgba(0, 0, 0, 0.5);
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 12px;
  letter-spacing: 10%;
}

.navbar-brand {
  font-size: 24px;
  letter-spacing: 10%;
}
/* main page css */
.bg-cover-mainpage {
  position: absolute;
  width: 100%;
  height: 190vh;
  left: -1.55px;
  top: 0.11px;

  background: radial-gradient(189.96% 61.18% at 50% 38.82%, rgba(255, 181, 72, 0) 0%, rgba(52, 44, 29, 0.80319) 73.22%, #08090a 99.74%);
}
.bg-image-mainpage {
  background: url(../img/assets/main-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-position: cover;
  min-height: 190vh;
}

.tittle-home {
  padding-top: 30rem;
  font-family: "Arial";
  font-style: normal;
  font-weight: 700;
  font-size: 72px;
  line-height: 83px;
  text-align: center;
  letter-spacing: 3px;
  text-transform: uppercase;
}

.subtitle-home {
  font-family: "Arial";
  font-style: normal;
  font-weight: 400;
  font-size: 24px;
  line-height: 28px;
  text-align: center;
  letter-spacing: 2px;
}

a {
  text-decoration: none;
}

#text-story {
  font-family: "Open Sans", sans-serif;
  margin-top: 800px;
}

/* the galey */

#thegalery {
  background: url(../img/assets/the-games-bg.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  height: 145vh;
}

#bg-cover-galery {
  position: absolute;
  width: 100%;
  height: 145vh;
  left: -1.55px;

  background: radial-gradient(136.03% 54.57% at 50% 48.04%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 60.63%, #080a0b 99.74%);
}

h1 {
  font-family: Arial;
  font-size: 56px;
  font-weight: 400;
  line-height: 64px;
  letter-spacing: 3px;
}

h3 {
  font-family: Arial;
  font-size: 24px;
  font-weight: 400;
  line-height: 28px;
  letter-spacing: 2px;
}

#padding-thegalery {
  padding-top: 10rem;
}

.carousel-indicators button {
  border-radius: 50%;
  border-style: solid;
}
.carousel-indicators button#btn {
  width: 10px;
  height: 10px;
}

.carousel-indicators button.active {
  width: 10px;
  height: 10px;
}

/* the features */
#bg-cover-thefeatures {
  position: absolute;
  width: 100%;
  height: 145vh;
  left: -1.55px;
  background: radial-gradient(51.1% 80.48% at 30.85% 53.65%, rgba(255, 255, 255, 0) 0%, rgba(0, 0, 0, 0) 19.2%, rgba(4, 5, 6, 0.520671) 47.48%, #080a0b 99.74%);
}

#thefeatures {
  background: url(../img/assets/features.jpg);
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  min-height: 145vh;
}

.step {
  padding: 10px;
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
}

.v-stepper {
  position: relative;
}

.step .circle {
  background-image: url(../img/assets/ellipse-outline.svg);
  background-position: center;
  background-repeat: no-repeat;
  width: 20px;
  height: 20px;
  padding-top: 35px;
  display: inline-block;
}

p {
  font-family: Arial, Helvetica, sans-serif;
  font-weight: 400;
  color: var(--primary-color);
  font-size: 24px;
  line-height: 27.6px;
  letter-spacing: 2px;
}

span {
  font-family: "Open Sans", sans-serif;
  font-size: 18px;
  color: white;
  line-height: 22px;
}

.step .line {
  top: 20px;
  left: 9px;
  height: 110%;
  position: absolute;
}

.step.completed .circle {
  visibility: visible;
  background-image: url(../img/assets/ellipse.svg);
  background-position: center;
  background-repeat: no-repeat;
}

.step.completed .line {
  border-left: 3px solid rgb(255, 255, 255);
}

.step.active .circle {
  visibility: visible;
}

.step.empty .circle {
  visibility: hidden;
}

.step.empty .line {
  top: 0;
  height: 150%;
}

.step:last-child .line {
  z-index: -1;
}

.content {
  margin-bottom: 2rem;
  margin-left: 20px;
  display: inline-block;
}

#padding-thefeatures {
  padding-top: 10rem;
}

/* the system */
#thesystem {
  background: url(../img/assets/requirements.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 145vh;
}

#bg-cover-thesystem {
  position: absolute;
  width: 100%;
  height: 145vh;
  left: -1.55px;
  background: radial-gradient(33.26% 45% at 64.32% 47.1%, rgba(255, 255, 255, 0) 3.36%, rgba(0, 0, 0, 0) 19.22%, #080a0b 99.74%);
}

.text-h3-thesystem {
  padding-top: 10rem;
  font-family: Arial;
  font-size: 14px;
  font-weight: 400;
  line-height: 16px;
  letter-spacing: 2px;
  text-align: center;
}

/* top scores */
#topscores {
  background: url(../img/assets/top-score-bg.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 145vh;
}

#bg-cover-topscores {
  position: absolute;
  width: 100%;
  height: 145vh;
  left: -1.55px;
  background: radial-gradient(70.52% 37.27% at 24.21% 47.47%, rgba(35, 15, 15, 0) 0%, rgba(0, 0, 0, 0) 51.1%, #080a0b 99.74%);
}

#background-elipse {
  background: url(../img/assets/ellipse-orange.png);
  background-repeat: no-repeat;
  background-position: 20px 8px;
}

.card {
  background-color: #ffffff14;
}

/* newsletter */
#newsletter {
  background: url(../img/assets/newsletter.png);
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  height: 145vh;
}

#bg-cover-newsletter {
  position: absolute;
  width: 100%;
  height: 145;
  left: -1.55px;
  background: #080a0b;
}

.newsletter-text-tittle {
  font-family: Arial;
  font-size: 65px;
  font-weight: 400;
  line-height: 75px;
  letter-spacing: 3px;
  text-align: left;
}

.form-control {
  background-color: #ffffff14;
  border-color: #ffffff14;
  font-family: Open Sans;
  font-size: 18px;
  font-weight: 400;
  line-height: 25px;
  letter-spacing: 0px;
  text-align: left;
  color: var(--primary-color);
}

footer {
  margin-top: 1px;
  height: 5rem;
  background: #080a0b;
}
@media (max-width: 1500px) {
  /* main page */
  .tittle-home {
    padding-top: 5rem;
    font-size: 45px;
  }

  #text-story {
    margin-top: 500px;
  }

  /* the galery */
  h3 {
    padding-top: 5rem;
    text-align: center;
  }
  h1 {
    text-align: left;
  }

  /* the system */
  .text-h1-thesystem {
    font-size: 40px;
    text-align: left;
  }

  p {
    font-size: 18px;
  }

  /* #padding-row-card-md {
    padding-top: 5rem;
  } */

  /* newsletter */
  #displayskull {
    display: none;
  }
  .newsletter-text-tittle {
    font-size: 40px;
  }

  footer {
    padding-top: 4rem;
    height: 10rem;
  }
}

@media only screen and (min-width: 1500px) {
  /* navbar */
  .navbar-nav {
    padding-left: 25rem;
  }
  /* the galery */

  .margin-h3 {
    padding-left: 17rem;
  }
  #carouselExampleIndicators {
    width: 858px;
    height: 477px;
  }

  .button-carousel-control {
    margin-right: -50rem;
  }
  .carousel-control-prev {
    margin-left: -5rem;
  }
  .carousel-control-next {
    margin-right: -5rem;
  }
  .margin-h3 {
    margin-right: 7rem;
  }
  .carousel-indicators {
    padding-bottom: 3rem;
  }

  /* the features */
  #padding-thefeatures {
    padding-top: 20rem;
    padding-left: 70rem;
  }

  /* the system */
  table {
    width: 500px;
    height: 500px;
  }

  #padding-thesystem {
    padding-left: 10rem;
  }

  /* top scores */
  .card {
    max-width: 30rem;
    background-color: #ffffff14;
  }
  #padding-row-card {
    padding-left: 10rem;
    padding-top: 6rem;
  }
  #card-col-padding {
    padding-left: 12rem;
  }
  /* newsletter */
  #padding-row-navbar-bottom {
    padding-top: 15rem;
  }
}
