@import url("https://fonts.googleapis.com/css2?family=Open+Sans:wght@700&display=swap");

body {
  width: 100%;
  height: 100vh;
  left: 0px;
  top: 0px;

  background: #9c835f;
}
/* navbar style */
.navbar__text {
  position: absolute;
  width: 55px;
  height: 87px;
  left: 37px;
  top: -8px;

  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 72px;
  line-height: 98px;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #724c21;
}
.navbar__image--logo {
  position: absolute;
  width: 72px;
  height: 72px;
  left: 140px;
  top: 8px;
}

.navbar__text--heading {
  position: absolute;
  width: 700px;
  height: 62px;
  left: 140px;
  top: 12px;

  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 36px;
  line-height: 49px;
  text-align: center;

  color: #f9b23d;
}

/* content style */

p {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 26px;
  line-height: 49px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;
}

.text-vs {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 144px;
  line-height: 196px;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #bd0000;
}

table {
  width: 100%;
}
table td {
  background: transparent;
}
.padding {
  padding-top: 5%;
}
img {
  width: 118px;

  cursor: pointer;
}

.result {
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  font-size: 38px;
  line-height: 52px;
  padding-top: 30px;
  text-align: center;
  letter-spacing: 0.1em;
  text-transform: uppercase;

  color: #ffffff;
}
.box {
  margin-left: 250px;
  background: #4c9654;
  border-radius: 10px;
  transform: rotate(-28.87deg);
  width: 271.11px;
  height: 166.93px;
  animation: animate 0.5s linear;
}

@keyframes animate {
  0% {
    transform: rotate(0deg);
  }
  0% {
    transform: rotate(10deg);
  }
}
.box-active {
  padding: 30px;
  margin: 5px;
  border-radius: 10%;

  background: #c4c4c4;
}

.box-image {
  padding: 30px;
  margin: 5px;
  border-radius: 10%;
}
.coba {
  padding-left: 200px;
}

.box-image:hover {
  background: #c4c4c4;
}

.user-icon {
  width: 15%;
}

.comicon {
  width: 15%;
}
